@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title us</h2>
    <h1>Site Owner </h1>
    <h3>Vipin Kumar</h3>
    <h3>Mobile +918979468090</h3>
    

    <address>
        <strong>Support :-</strong>   <a href="Kumarvipin897946@gmail.com">Kumarvipin897946@gmail.com</a><br />
       
    </address>
</main>